<div class="admin-release">
  <% if release.cover.attached? %>
    <%= image_tag release.cover, class: 'cover', id: release.id.to_s + '_cover', class: 'release-cover' %>
  <% end %>
  <div class="release-title">
    <%= release.artist.title %> - <%= release.title %>
  </div>
  <div class="admin-release-stats">
    <div class="admin-release-stats-item">
      <span class="admin-release-stats-item-title">
        <%= t('admin.release.stats.plays_count')+':' %>
      </span>
      <span class="admin-release-stats-item-value">
        <%= release.plays_count %>
      </span>
    </div>
    <div class="admin-release-tracks-count">
      <span class="admin-release-stats-item-title">
        <%= t('admin.release.stats.tracks_count')+':' %>
      </span>
      <span class="admin-release-stats-item-value">
        <%= release.tracks.count %>
      </span>
    </div>
    <div class="admin-release-stats-duration">
      <span class="admin-release-stats-item-title">
        <%= t('admin.release.stats.duration')+':' %>
      </span>
      <span class="admin-release-stats-item-value">
        <%= release.duration_humanized %>
      </span>
    </div>
  </div>
</div>
