<li>
  <% if track.audio_file.attached? %>
    <span class="play-sign" data-track-id="<%= track.id %>"></span>
    <a class="play-track" data-src="<%= url_for(track.audio_file) %>" data-track-id="<%= track.id %>" data-artist="<%= track.release.artist.title.downcase %>" data-track="<%= track.title.downcase %>">
      <%= track.release.artist.title.downcase %> - <%= track.title.downcase %>
    </a>
  <% end %>
</li>
