<div class="release-show-container">
  <div class="tracks-container" data-release-id="<%= @release.id %>">
    <h1><%= @release.title %></h1>
    <ul>
      <%= render(partial: 'track', collection: @release.tracks.order(Arel.sql('COALESCE(pos, 999999)'))) %>
    </ul>
  </div>
  <div class="release-show-cover">
    <% if @release.cover.attached? %>
      <%= image_tag @release.cover, id: @release.id.to_s + '_cover' %>
    <% end %>
  </div>
  <div class="release-show-info">
    <p><%= t('release.show.tracks_count') %> <%= @release.tracks.count %>, <%= t('release.show.duration') %> <%= @release.duration_humanized %></p>
    <p><%= @release.description %></p>
    <p><%= "released on " + @release.release_date.strftime("%-d %B %Y") if @release.release_date %>
    <%= " by " + @release.publisher if @release.publisher %></p>
  </div>
</div>
